body, html { margin:0; height:100%;} 
#wrapper     
{
    margin: -40px auto 0;
    overflow: auto;
    position: relative;
    width: 75%;
    z-index: 5;
}
#slider
{
    margin: 0 auto;
    width: 100%;
    }
    #content { overflow:auto;}
#slider .item-slider
{ text-align:center;
  width:100%;
  height:536px;
    }
#footer
{   background-color: #e1e1e1;
    height:150px;
    width:100%;
    clear:both;
    }
    
    .post { margin:14px 25px; font-family:Calibri; height:100px;}
    .subtitle { font-weight:bolder; font-size:20px;   margin-bottom: 3px;
    margin-top: -8px}
    .subsubtitle {font-size:12px;color:#515151;}
    .textcontent { line-height:19px; color:#515151;}
    .general .img-box{ width:204px; height: 150px;}
    .general .post { height:150px;}
    .general .post .text-box { height:150px;}
    .img-box { width:150px; height:100px;  float: left;     margin-right: 22px;} 
h3.titlebox { font-family:Myriad Pro; color:#1abce5;  font-weight:bolder;  font-size:40px; margin:10px; margin-left:25px;}
    #rights-contact { width:75%;margin: 0 auto;}
    #top-container { width:100%;background-color:#034793; height:100px;}
    #social-search{ display:block; height:50%; width:75%;margin: 0 auto;padding-top: 12px;position: relative;}
    #menu { display:block; height:50%; width:75%;margin: 0 auto;}
    .menu li, .menu li  a  {float:left; margin-left:12px; color:#fff; text-transform: uppercase; text-decoration:none; }
    .news .subtitle { font-size:15px;}
    .news .textcontent { font-size:14px;}
    .news .post{ margin: 0 10px;}
    .news .date { float:left; height:60px; width:60px; font-size:30px; text-align:center; color:#0d4f9d} 
    .news .date span { font-size:19.5px; }
    
    
    
    .menu li a:hover{color:#1abce5;}
    ul { list-style:none; font-family:Myriad Pro; font-weight:bold; cursor:pointer; margin:0;}
    .menu { float: right;}
    #rights, #contact { width:50%; height:100%} 
    #rights { float:left;}
    #contact { float: right;}
    body { background-color: #e8e8e8; margin:0px;} 
    .news, .general { height:255px;margin:1%; background-color:#fff; float:left;}
    .joinus , .news {width:35%;}
    .general ,.blog { width:61%;}
    .blog, .joinus { height:335px; margin:1%; float:left; background-color:#fff;} 
    #social {    display: inline-block;
    float: right;
    position: absolute;
    right: 164px;
    top: 16px;}
    #search { float:right;position: relative;} 
    #searcher { background-color:#023976; border:0; height: 25px; width:160px;font-family:Myriad Pro; color:#999; padding-left:5px;}
    #social ul li { float:left;margin-right:16px;}
    
    #btn-searcher {
  background-color: transparent;
    background-image: url("../images/search.png");
    border: 0 none;
    cursor: pointer;
    height: 14px;
    position: absolute;
    right: 6px;
    top: 7px;
    width: 14px;
} 

.text-box span { display:block;}
.join-in { margin:32px;}

/*slider*/
.button-down { height:54px;width:36px; background-image: url("../images/arrowleft.png"); top:230px; cursor:pointer; left:8%;position:absolute; z-index:10}
.button-up { height:54px;width:36px; background-image: url("../images/arrowright.png"); top:230px; cursor:pointer;position:absolute; right:8%; z-index:10}
#slider { position:relative;}
.link-contenedor-blank,  link-contenedor { cursor:pointer;}
.text-slider {    left: 60%;
    margin: 0 auto;
    position: absolute;
    top: 175px;
    width: 360px;}
    
    .text-slider p { margin:0;}
/*slider*/





/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.calibriitalic104 {
font-style: italic; font-weight:bolder; font-family:Calibri; font-size:613.11%;color:#fff; line-height:25px;
}

.calibrinormal65 {
font-style: normal; font-weight:normal; font-family:Calibri; font-size:382.82%;color:#fff;line-height:60px;
}

.calibrinormal16 {
font-style: normal; font-weight:normal; font-family:Calibri; font-size:94.11%;color:#fff;
}

.calibrinormal28 {
font-style: normal; font-weight:normal; font-family:Calibri; font-size:167.11%;color:#fff;
}

.backgroundbluebutton {
    background-color: #0D4F9D;   text-transform:uppercase;   color:#fff; display: inline-block;      font-family:Myriad Pro; font-weight:bold; font-size:131.82%;   margin-top: 9px !important;    padding: 4px 8px;     width: auto;
}

.myriadobold69 {
font-family:Myriad Pro; font-weight:bold; font-size:407.88%; color:#fff;
}

.myriabold2107 {
font-family:Myriad Pro; font-weight:bold; font-size:123.94%; color:#2f6f88;
}

.myriadnormal1705 {
font-family:Myriad Pro; font-weight:normal; font-size:17.05px; color:#2f6f88;
}

.myriadobold43 {
 font-family:Myriad Pro; font-weight:bold; font-size:257.11%; color:#fff;
}

.myriadnormal59 {
 font-family:Myriad Pro; font-weight:normal; font-size:347.05%; color:#2f6f88;
}

.myriadnormal24 {
 font-family:Myriad Pro; font-weight:normal; font-size:142.11%; color:#fff;
}

.myriadbold53 {
 font-family:Myriad Pro; font-weight:bold; font-size:314.35%; color:#fff;
}

.myriadnormal2107 {
font-family:Myriad Pro; font-weight:normal; font-size:123.94%; color:#2f6f88;
}

.content-title-module {
font-family:Calibri; font-weight:bold; font-size:22px; color:#505050;
}
#head-title { height:188px; background-color:#fff;}
#content-title { width: 960px; margin: 0 auto; height:100%;}
#title-page { font-size:62px; font-family:"MyriadPro-Bold", Myriad Pro; color: #1abce5; font-weight:bold; padding-top:52px;}
#subtitle-page { font-size:21px; font-family:Calibri, Myriad Pro; color: #505050; font-weight:normal; margin-top:5px;}
.image-page { width:100%;}
.module-item {  font-family:Calibri; font-size:93.7px; color:#505050; margin-top:40px; width:300px; float:left;}
div.module { width:960px; margin:0 auto; position:relative;}
.module-item span.title-module { margin-left:-10px;}
.item-title-module{ font-size:16px; font-family:Calibri; font-style:normal; color:#7c7c7c; text-transform:uppercase; padding:10px 0; border-bottom:1px solid #d5d5d5; font-weight:normal;}
.ul-title-module{ padding:0; margin-top:31px;list-style: none outside none; width:85%; }
.content-module{ width:660px; float:left; margin-top:43px;font-family:Calibri; font-size:16px; color:#505050; font-style:normal;}
.content-module ul { font-size:16px; font-family:Calibri; font-style:normal; font-weight:normal; list-style-type:inherit;} 
ul.social { list-style:none;}
.item-title-module.active { color:#f05523; font-weight:bold;}
.module-container { position:relative;}
.hidden { display:none !important;}

div.module-container .image { width:60px; margin:0 auto;}
div.module-container .image img { position:absolute; top:-30px;}

