<!DOCTYPE root[<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Website ANY>
<!ATTLIST Website id ID #REQUIRED>
 

]>
<root id="-1">
  <Website id="1049" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1044" template="0" sortOrder="0" createDate="2013-05-26T08:09:07" updateDate="2013-05-26T08:09:41" nodeName="Website" urlName="website" writerName="Julián David" creatorName="Julián David" path="-1,1049" isDoc="">
    <Home id="1050" parentID="1049" level="2" writerID="0" creatorID="0" nodeType="1045" template="1048" sortOrder="0" createDate="2013-05-26T08:09:35" updateDate="2013-05-26T08:09:45" nodeName="Es" urlName="es" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050" isDoc="" />
  </Website>
</root>