<!DOCTYPE root[<!ELEMENT ItemSlider ANY>
<!ATTLIST ItemSlider id ID #REQUIRED>
<!ELEMENT ContainerSlider ANY>
<!ATTLIST ContainerSlider id ID #REQUIRED>
<!ELEMENT ItemSocial ANY>
<!ATTLIST ItemSocial id ID #REQUIRED>
<!ELEMENT ContainerSocial ANY>
<!ATTLIST ContainerSocial id ID #REQUIRED>
 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Page ANY>
<!ATTLIST Page id ID #REQUIRED>
<!ELEMENT Website ANY>
<!ATTLIST Website id ID #REQUIRED>

]>
<root id="-1">
  <Website id="1049" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1044" template="0" sortOrder="0" createDate="2013-05-26T08:09:07" updateDate="2013-05-26T08:09:41" nodeName="Website" urlName="website" writerName="Julián David" creatorName="Julián David" path="-1,1049" isDoc="">
    <Home id="1050" parentID="1049" level="2" writerID="0" creatorID="0" nodeType="1045" template="1054" sortOrder="0" createDate="2013-05-26T08:09:35" updateDate="2013-05-26T09:03:03" nodeName="Es" urlName="es" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050" isDoc="">
      <Page id="1055" parentID="1050" level="3" writerID="0" creatorID="0" nodeType="1046" template="0" sortOrder="0" createDate="2013-05-26T09:01:50" updateDate="2013-05-26T09:03:04" nodeName="Inicio" urlName="inicio" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050,1055" isDoc="" />
      <Page id="1056" parentID="1050" level="3" writerID="0" creatorID="0" nodeType="1046" template="0" sortOrder="1" createDate="2013-05-26T09:02:15" updateDate="2013-05-26T09:03:04" nodeName="Nosotros" urlName="nosotros" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050,1056" isDoc="" />
      <Page id="1057" parentID="1050" level="3" writerID="0" creatorID="0" nodeType="1046" template="0" sortOrder="2" createDate="2013-05-26T09:02:25" updateDate="2013-05-26T09:03:04" nodeName="Cómo funciona" urlName="cómo-funciona" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050,1057" isDoc="" />
      <Page id="1058" parentID="1050" level="3" writerID="0" creatorID="0" nodeType="1046" template="0" sortOrder="3" createDate="2013-05-26T09:02:35" updateDate="2013-05-26T09:03:04" nodeName="Empresas" urlName="empresas" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050,1058" isDoc="" />
      <Page id="1059" parentID="1050" level="3" writerID="0" creatorID="0" nodeType="1046" template="0" sortOrder="4" createDate="2013-05-26T09:02:42" updateDate="2013-05-26T09:03:04" nodeName="Blog" urlName="blog" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050,1059" isDoc="" />
      <ContainerSocial id="1062" parentID="1050" level="3" writerID="0" creatorID="0" nodeType="1060" template="0" sortOrder="5" createDate="2013-05-26T09:33:48" updateDate="2013-05-26T09:34:36" nodeName="Redes sociales" urlName="redes-sociales" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050,1062" isDoc="">
        <ItemSocial id="1063" parentID="1062" level="4" writerID="0" creatorID="0" nodeType="1061" template="0" sortOrder="0" createDate="2013-05-26T09:33:58" updateDate="2013-05-26T10:04:54" nodeName="Facebook" urlName="facebook" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050,1062,1063" isDoc="">
          <image>1068</image>
          <url>https://www.facebook.com/pages/ANDI-DEL-FUTURO/118905368491?fref=ts</url>
          <alt>Facebook de Andi del Futuro</alt>
        </ItemSocial>
        <ItemSocial id="1064" parentID="1062" level="4" writerID="0" creatorID="0" nodeType="1061" template="0" sortOrder="1" createDate="2013-05-26T09:34:08" updateDate="2013-05-26T09:40:26" nodeName="Twitter" urlName="twitter" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050,1062,1064" isDoc="">
          <image>1069</image>
          <url>https://twitter.com/andidelfuturo</url>
        </ItemSocial>
        <ItemSocial id="1065" parentID="1062" level="4" writerID="0" creatorID="0" nodeType="1061" template="0" sortOrder="2" createDate="2013-05-26T09:34:19" updateDate="2013-05-26T09:41:12" nodeName="Email" urlName="email" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050,1062,1065" isDoc="">
          <image>1070</image>
          <url>mailto:direccion@correo.com</url>
        </ItemSocial>
      </ContainerSocial>
      <ContainerSlider id="1073" parentID="1050" level="3" writerID="0" creatorID="0" nodeType="1071" template="0" sortOrder="6" createDate="2013-05-26T10:26:09" updateDate="2013-05-26T10:37:35" nodeName="Slider home" urlName="slider-home" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050,1073" isDoc="">
        <ItemSlider id="1074" parentID="1073" level="4" writerID="0" creatorID="0" nodeType="1072" template="0" sortOrder="0" createDate="2013-05-26T10:26:58" updateDate="2013-05-26T10:39:44" nodeName="Slider1" urlName="slider1" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050,1073,1074" isDoc="">
          <content><![CDATA[<p>blablabla</p>]]></content>
          <url>https://twitter.com/andidelfuturo</url>
          <image>1077</image>
        </ItemSlider>
        <ItemSlider id="1075" parentID="1073" level="4" writerID="0" creatorID="0" nodeType="1072" template="0" sortOrder="1" createDate="2013-05-26T10:27:10" updateDate="2013-05-26T10:40:02" nodeName="Slider2" urlName="slider2" writerName="Julián David" creatorName="Julián David" path="-1,1049,1050,1073,1075" isDoc="">
          <content><![CDATA[<p>blablabla</p>]]></content>
          <url>https://twitter.com/andidelfuturo</url>
          <image>1078</image>
        </ItemSlider>
      </ContainerSlider>
    </Home>
  </Website>
</root>